# for all subdirectories
ChangeLog
Doxyfile
Makefile.in
Makefile
doc
m4
.libs
.deps
*.o
*.lo
*.la
*.pc
*.rc
*.gcno
*.gcda
*.gcov
*.tar.gz

#Current directory
./plibconfig.h
./config.h
./config.*

# autofoo stuff here
compile
configure
depcomp
aclocal.m4
autom4te.cache
stamp-*
libtool
ltmain.sh
missing
install-sh

