Source: plibsys
Priority: optional
Maintainer: Alexander Saprykin <saprykin.spb@gmail.com>
Build-Depends: debhelper (>= 9), cmake, doxygen
Standards-Version: 4.1.0
Section: libs
Homepage: https://www.github.com/saprykin/plibsys
Vcs-Git: https://github.com/saprykin/plibsys.git
Vcs-Browser: https://github.com/saprykin/plibsys

Package: libplibsys0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: Highly portable C system library
 plibsys is a cross-platform system C library with some helpful routines. It
 has zero third-party dependecies and uses only native system calls.
 .
 plibsys provides:
 .
 Platform independent data types
 Threads
 Mutexes
 Condition variables
 Read-write locks
 System-wide semaphores
 System-wide shared memory
 Optimized spinlock
 Atomic operations
 Socket support (UDP, TCP, SCTP) with IPv4 and IPv6
 Hash functions: MD5, SHA-1, SHA-2, SHA-3, GOST (R 34.11-94)
 Binary trees: BST, red-black, AVL
 INI file parser
 High resolution time profiler
 Files and directories
 Shared library loading
 Useful routines for linked lists, strings, hash tables
 Macros for CPU architecture, OS and compiler detection

Package: libplibsys0-dev
Section: libdevel
Architecture: any
Depends: libplibsys0 (= ${binary:Version}), ${misc:Depends}
Suggests: libplibsys0-doc, libplibsys0-dbg
Description: Development files for plibsys
 plibsys is a cross-platform system C library with some helpful routines. It
 has zero third-party dependecies and uses only native system calls.
 .
 plibsys provides:
 .
 Platform independent data types
 Threads
 Mutexes
 Condition variables
 Read-write locks
 System-wide semaphores
 System-wide shared memory
 Optimized spinlock
 Atomic operations
 Socket support (UDP, TCP, SCTP) with IPv4 and IPv6
 Hash functions: MD5, SHA-1, SHA-2, SHA-3, GOST (R 34.11-94)
 Binary trees: BST, red-black, AVL
 INI file parser
 High resolution time profiler
 Files and directories
 Shared library loading
 Useful routines for linked lists, strings, hash tables
 Macros for CPU architecture, OS and compiler detection
 .
 This package provides the development files that allow to build software
 which uses plibsys.

Package: libplibsys0-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libplibsys0 (= ${binary:Version}), ${misc:Depends}
Multi-Arch: same
Description: Debug symbols for plibsys
 plibsys is a cross-platform system C library with some helpful routines. It
 has zero third-party dependecies and uses only native system calls.
 .
 plibsys provides:
 .
 Platform independent data types
 Threads
 Mutexes
 Condition variables
 Read-write locks
 System-wide semaphores
 System-wide shared memory
 Optimized spinlock
 Atomic operations
 Socket support (UDP, TCP, SCTP) with IPv4 and IPv6
 Hash functions: MD5, SHA-1, SHA-2, SHA-3, GOST (R 34.11-94)
 Binary trees: BST, red-black, AVL
 INI file parser
 High resolution time profiler
 Files and directories
 Shared library loading
 Useful routines for linked lists, strings, hash tables
 Macros for CPU architecture, OS and compiler detection
 .
 This package provides the debug symbols to match the runtime component
 of the plibsys, allowing debugging of a program using plibsys.

Package: libplibsys0-doc
Section: doc
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Documentation for plibsys
 plibsys is a cross-platform system C library with some helpful routines. It
 has zero third-party dependecies and uses only native system calls.
 .
 plibsys provides:
 .
 Platform independent data types
 Threads
 Mutexes
 Condition variables
 Read-write locks
 System-wide semaphores
 System-wide shared memory
 Optimized spinlock
 Atomic operations
 Socket support (UDP, TCP, SCTP) with IPv4 and IPv6
 Hash functions: MD5, SHA-1, SHA-2, SHA-3, GOST (R 34.11-94)
 Binary trees: BST, red-black, AVL
 INI file parser
 High resolution time profiler
 Files and directories
 Shared library loading
 Useful routines for linked lists, strings, hash tables
 Macros for CPU architecture, OS and compiler detection
 .
 This package provides the documentation files for plibsys.

